header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    div {
        display: flex;
        gap: 2%;
        flex: 2;

        img {
            height: 100px;
        }

        h1 {
            color: green;
        }
    }

    nav {
        display: flex;

        ul {
            display: flex;

            li {
                list-style-type: none;
                padding: 2vh;

                a {
                    display: inline-block;
                    text-decoration: none;
                    white-space: nowrap;
                }
            }
        }

    }

}